name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Run Tests
      id: run-tests
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        max-score: 10
        setup-command: pip install -r requirements.txt
    - name: Run t
      id: run-t
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Run t
        setup-command: pip install -r requirements.txt
        command: pytest
        timeout: 10
        max-score: 30
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        RUN-TESTS_RESULTS: "${{steps.run-tests.outputs.result}}"
        RUN-T_RESULTS: "${{steps.run-t.outputs.result}}"
      with:
        runners: run-tests,run-t
